@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Nunito+Sans&display=swap");

:root {
  --primary-color: #c2822b;
  --secondary-color: #6eabc8;
  --accent1-color: #1b60a0;
  --accent2-color: #53222c;

  --banner-color: #ececec;

  --heading-font: "Roboto", sans-serif;
  --paragraph-font: "Nunito Sans", sans-serif;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

p {
  padding: 25px;
}

/* use grid to separate logo img from the nav inside the header */
header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 2rem;
  background-color: var(--banner-color);
  margin-bottom: 20px;
}

header img {
  width: 219px;
  height: auto;
}

header nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background-color: var(--secondary-color);
}

.sociallinks {
  display: flex;
  gap: 20px;
}

.sociallinks a {
  text-decoration: none;
}

.sociallinks img {
  width: 30px;
  height: auto;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1:nth-child(2) {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  text-align: center;
  padding: 15px;
}

.hero article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.hero article img {
  float: right;
  width: 300px;
  height: auto;
}

.history {
  text-align: center;
}

.adventures {
  text-align: center;
}

.adventures-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}

.adventures-images h2 {
  grid-column: 1 / -1;
}

.adventures-images figure {
  width: 150px;
  margin: 1rem;
}

.adventures-images figure img {
  width: 100%;
  height: auto;
}
