@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Nunito+Sans&display=swap");

:root {
  --primary-color: #c2822b;
  --secondary-color: #6eabc8;
  --accent1-color: #1b60a0;
  --accent2-color: #53222c;

  --heading-font: "Roboto", sans-serif;
  --paragraph-font: "Nunito Sans", sans-serif;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

p {
  padding: 25px;
}

.sociallinks a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1:nth-child(2) {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  text-align: center;
  padding: 15px;
}

.hero article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.hero article img {
  float: right;
  width: 300px;
  height: auto;
}
